<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quanlycf.Properties.Settings.ManagerCoffeeConnectionString"
            connectionString="Data Source=DESKTOP-KPRJ34J;Initial Catalog=ManagerCoffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Quanlycf.Properties.Settings.ManagerCoffeeConnectionString1"
            connectionString="Data Source=DESKTOP-6VUOC5Q\MYSERVER_SQL;Initial Catalog=ManagerCoffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Quanlycf.Properties.Settings.ManagerCoffeeConnectionString2"
            connectionString="Data Source=DESKTOP-A83KQPA\DDK_SQL;Initial Catalog=ManagerCoffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Quanlycf.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-A83KQPA\DDK_SQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>